<!--<div class="bg"></div>-->
<!--<div class="bg bg2"></div>-->
<!--<div class="bg bg3"></div>-->
<!--<div class="content">-->
<!--  <div class="wrapper bg-white mt-sm-5">-->
<!--    <h1 class="pb-4 border-bottom">Cập nhật thông tin tài khoản </h1>-->
<!--    <div class="d-flex align-items-start py-3 border-bottom"> <img src="https://images.pexels.com/photos/1037995/pexels-photo-1037995.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" class="img" alt="">-->
<!--      <div class="pl-sm-4 pl-2" id="img-section"> <b>Ảnh đại diện</b>-->
<!--        <p>Cho phép tải lên những file ảnh có định dạng .png và kích thước nhỏ hơn 1MB</p>-->
<!--        <label for="formFileSm" class="form-label">Tải ảnh lên</label>-->
<!--        <input class="form-control form-control-sm" id="formFileSm" type="file" />-->
<!--      </div>-->
<!--    </div>-->
<!--        <div class="col-md-6"> <label >Username</label>-->
<!--          <input type="text" [formControl]="username" class="bg-light form-control" placeholder="Steve"> </div>-->
<!--    <div class="col-md-6"> <label >Họ và Tên</label>-->
<!--      <input type="text" [formControl]="fullname" class="bg-light form-control" placeholder="James">-->
<!--    </div>-->
<!--    <div class="col-md-6"> <label >Địa chỉ</label>-->
<!--      <input type="text" [formControl]="address" class="bg-light form-control" placeholder="Moncity, Hàm Nghi, Mỹ Đình">-->
<!--    </div>-->
<!--    <div class="col-md-6"> <label >Số điện thoại</label>-->
<!--      <input type="number" [formControl]="phone" class="bg-light form-control" placeholder="02103222412">-->
<!--    </div>-->
<!--    <div class="col-md-6"> <label >Email</label>-->
<!--      <input type="email" [formControl]="email" class="bg-light form-control" placeholder="demo@codegym.vn">-->
<!--    </div>-->
<!--    <div class="py-3 pb-4 border-bottom">-->
<!--      <button class="btn btn-primary" type="button">-->
<!--        <span>Cập nhật</span>-->
<!--      </button>-->
<!--      <button type="button" class="btn btn-outline-danger">Cancel</button>-->
<!--      </div>-->
<!--  </div>-->

<!--</div>-->
