<!DOCTYPE html>
<html>
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <title>Findeo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

</head>

<body>

<!-- Wrapper -->
<div id="wrapper">


  <!-- Compare Properties Widget
  ================================================== -->
  <div class="compare-slide-menu">

    <div class="csm-trigger"></div>

    <div class="csm-content">
      <h4>Compare Properties <div class="csm-mobile-trigger"></div></h4>

      <div class="csm-properties">
        <!-- Property -->
        <div class="listing-item compact">
          <a href="single-property-page-2.html" class="listing-img-container">
            <div class="remove-from-compare"><i class="fa fa-close"></i></div>
            <div class="listing-badges">
              <span>For Sale</span>
            </div>
            <div class="listing-img-content">
              <span class="listing-compact-title">Oak Tree Villas <i>$535,000</i></span>
            </div>
            <img src="images/listing-05.jpg" alt="">
          </a>
        </div>

      </div>
    </div>

  </div>
  <!-- Compare Properties Widget / End -->


  <!-- Header Container
  ================================================== -->
  <header id="header-container">

    <!-- Topbar -->
    <div id="top-bar">
      <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

          <!-- Top bar -->
          <ul class="top-bar-menu">
            <li><i class="fa fa-phone"></i> (123) 123-456 </li>
            <li><i class="fa fa-envelope"></i> <a href="#">office@example.com</a></li>
            <li>
              <div class="top-bar-dropdown">
                <span>Dropdown Menu</span>
                <ul class="options">
                  <li><div class="arrow"></div></li>
                  <li><a href="#">Nice First Link</a></li>
                  <li><a href="#">Second Link With Long Title</a></li>
                  <li><a href="#">Third Link</a></li>
                </ul>
              </div>
            </li>
          </ul>

        </div>
        <!-- Left Side Content / End -->


        <!-- Left Side Content -->
        <div class="right-side">

          <!-- Social Icons -->
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="pinterest" href="#"><i class="icon-pinterest"></i></a></li>
          </ul>

        </div>
        <!-- Left Side Content / End -->

      </div>
    </div>
    <div class="clearfix"></div>
    <!-- Topbar / End -->


    <!-- Header -->
    <div id="header">
      <div class="container">

        <!-- Left Side Content -->
        <div class="left-side">

          <!-- Logo -->
          <div id="logo">
            <a href="index.html"><img src="images/logo.png" alt=""></a>
          </div>


          <!-- Mobile Navigation -->
          <div class="mmenu-trigger">
            <button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
            </button>
          </div>


          <!-- Main Navigation -->
          <nav id="navigation" class="style-1">
            <ul id="responsive">

              <li><a href="#">Home</a>
              </li>
            </ul>
          </nav>
          <div class="clearfix"></div>
          <!-- Main Navigation / End -->

        </div>
        <!-- Left Side Content / End -->

      </div>
    </div>
    <!-- Header / End -->

  </header>
  <div class="clearfix"></div>
  <!-- Header Container / End -->



  <!-- Titlebar
  ================================================== -->
  <div class="parallax titlebar"
       data-background="images/listings-parallax.jpg"
       data-color="#333333"
       data-color-opacity="0.7"
       data-img-width="800"
       data-img-height="505">

    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <h2>Listings</h2>
            <span>Grid Layout With Sidebar</span>

            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="#">Home</a></li>
                <li>Listings</li>
              </ul>
            </nav>

          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- Content
  ================================================== -->
  <div class="container">
    <div class="row sticky-wrapper">

      <div class="col-md-8">
        <!-- Listings -->
        <div class="listings-container grid-layout">

          <!-- Listing Item -->
          <div class="listing-item">

            <a href="single-property-page-1.html" class="listing-img-container">

              <div class="listing-badges">
                <span class="featured">Featured</span>
                <span>For Rent</span>
              </div>

              <div class="listing-img-content">
                <span class="listing-price">$1700 <i>monthly</i></span>
                <span class="like-icon with-tip" data-tip-content="Add to Bookmarks"></span>
                <span class="compare-button with-tip" data-tip-content="Add to Compare"></span>
              </div>

              <img src="images/listing-03.jpg" alt="">

            </a>

            <div class="listing-content">

              <div class="listing-title">
                <h4><a href="#">Meridian Villas</a></h4>
                <a href="https://maps.google.com/maps?q=221B+Baker+Street,+London,+United+Kingdom&hl=en&t=v&hnear=221B+Baker+St,+London+NW1+6XE,+United+Kingdom" class="listing-address popup-gmaps">
                  <i class="fa fa-map-marker"></i>
                  778 Country St. Panama City, FL
                </a>

                <a href="single-property-page-1.html" class="details button border">Details</a>
              </div>

              <ul class="listing-details">
                <li>1450 sq ft</li>
                <li>1 Bedroom</li>
                <li>2 Rooms</li>
                <li>2 Rooms</li>
              </ul>

              <div class="listing-footer">
                <a href="#"><i class="fa fa-user"></i> Chester Miller</a>
                <span><i class="fa fa-calendar-o"></i> 4 days ago</span>
              </div>
            </div>
            <!-- Listing Item / End -->
          </div>
          <!-- Listing Item / End -->
        </div>
        <!-- Listings Container / End -->
      </div>
    </div>
  </div>


  <!-- Footer
  ================================================== -->
  <div class="margin-top-55"></div>

  <div id="footer" class="sticky-footer">
    <!-- Main -->
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-sm-6">
          <img class="footer-logo" src="images/logo.png" alt="">
          <br><br>
          <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
        </div>

        <div class="col-md-4 col-sm-6 ">
          <h4>Helpful Links</h4>
          <ul class="footer-links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Sign Up</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Add Property</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Privacy Policy</a></li>
          </ul>

          <ul class="footer-links">
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">How It Works</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <div class="clearfix"></div>
        </div>

        <div class="col-md-3  col-sm-12">
          <h4>Contact Us</h4>
          <div class="text-widget">
            <span>12345 Little Lonsdale St, Melbourne</span> <br>
            Phone: <span>(123) 123-456 </span><br>
            E-Mail:<span> <a href="#">office@example.com</a> </span><br>
          </div>

          <ul class="social-icons margin-top-20">
            <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
            <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
            <li><a class="vimeo" href="#"><i class="icon-vimeo"></i></a></li>
          </ul>

        </div>

      </div>

      <!-- Copyright -->
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">© 2016 Findeo. All Rights Reserved.</div>
        </div>
      </div>

    </div>

  </div>
  <!-- Footer / End -->

  <!-- Scripts
  ================================================== -->
  <script type="text/javascript" src="src/assets/scripts/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/jquery-migrate-3.1.0.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/chosen.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/magnific-popup.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/owl.carousel.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/rangeSlider.js"></script>
  <script type="text/javascript" src="src/assets/scripts/sticky-kit.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/slick.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/masonry.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/mmenu.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/tooltips.min.js"></script>
  <script type="text/javascript" src="src/assets/scripts/custom.js"></script>
</div>
<!-- Wrapper / End -->


</body>
</html>
